.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249 250 251);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 8px solid #1868db;
}

.auth-container Form {
  width: 50vh;
  padding: 30px 50px;
}

.auth-title {
  text-align: center;
}

@media (max-width: 400px) {
  .auth-container Form {
    width: 35vh;
    padding: 0.5rem 1.5rem;
  }
}
